/* order */
.bg {
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.img1 {
    background-image: url('../img/jepun.jpg');
}

#order {
    width: 100%;
    height: 80vh;
    background-color: white;
    position: absolute;
    top: 70%;
}

#scroll {
    max-height: 233px;
    overflow-y: scroll;
}

.jumlah {
    display: flex;
    align-items: center;
    border: 1px solid #FEC7B4;
    border-radius: 4px;
}

.jumlah button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    width: 80%;
}

.jumlah .plus {
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #FEC7B4;
    padding: 10px;
}

.jumlah .min {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #FEC7B4;
    padding: 10px;
}

.jumlah button:hover {
    background-color: #FEC7B4;
    transition: 0.4s;
    color: white;
}

.count {
    padding: 0 5px;
}

.disable {
    cursor: not-allowed;
    opacity: 0.5;
}

.not {
    cursor: not-allowed;
}

#dis,
#diss {
    cursor: not-allowed;
    opacity: 0.5;
}

.bege {
    opacity: 0.5;
}

.form-controll {
    width: 291px;
    padding: 6px;
}

.hx {
    cursor: not-allowed !important;
    opacity: 0.4;
}

.btn-primary {
    background-color: #FEC7B4 !important;
    border: none !important;
}

.bg-soft-primary {
    background-color: #FEC7B4 !important;
}

.text-primary {
    color: #e88868 !important;
}

.oi {
    color: #FEC7B4 !important;
}

.profile-wid-bg {
    background-color: #FEC7B4 !important;
}

@media(max-width: 450px) {
    .jumlah {
        width: 100px;
        margin: 0 auto;
    }
}